.channelRow{
    display: flex;
    align-items: center;
    width: 70%;
    height: 150px;
}
.channelRow__logo{
    
    height: 140px;
    width: 140px;
    margin: 10px 60px;
    object-fit: contain;
}
.channel__details{
    display: flex;
    flex: 0.7;
    flex-direction: column;
    
}
.channel__details>h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
}
.channel__details>p{
    color: gray;
    margin: 3px 0;
    font-size: 12px;
}
.channel__subs{
    background-color: lightgray;
    padding: 2px;
}